{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <title>Gestion Equipement - Login page</title>
</head>
<body>
    <div class="container">
        <div class="hero-img"></div>
        <div class="hero">
            <h1 class="hero-title">Welcome back</h1>
            <p class="hero-description">
                Log into your campus equipment account.
            </p>
            <form action="" method="post" class="login-form">
                {% csrf_token %}
                {{ form.email }}
                {{ form.password }}
                <input type="submit" value="Login" class="cta">
            </form>
            
            <div class="log-section"><a href="{% url 'index' %}" class="log-section_link"> <- back </a></div>
        </div>
    </div>

</body>
</html>