{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/dashboard-admin.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <title>Gestion Equipement - Dashboard Admin</title>
</head>
<body>
    <header class="header">
        <div class="" width="1px"></div>
        <img src="{% static 'assets/img/profil-picture.png'%}" alt="profil picture" width="50px" height="50px" class="profil-img">
        <a href="{% url 'logout' %}"><img src="{% static 'assets/img/icone/logout.svg' %}" alt="logout - btn"></a>
    </header>

    <div class="container">
        <main class="main">
            <section class="main-top">
                <h3 class="main-top_title">Administrator Dashboard</h3>
            </section>
        <section id="loan-planning-section" class="manager-board" style="margin-top: 40px; display: none;">
                <h3 class="main-top_title" style="padding: 20px 0 0 20px;">View Loan Planning</h3>
                <main class="manager-board_table">
                    <table>
                        <thead>
                            <tr>
                                <th>Equipment</th>
                                <th>Beneficiary</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in emprunts %}
                            <tr>
                                <td><b>{{ e.equipement.nom }}</b></td>
                                <td>{{ e.beneficiaire.nom }}</td>
                                <td><span class="badge-status">{{ e.etat }}</span></td>
                                
                <td>
                        {% if e.statut == "valide" %}
                            <span style="color: green;">Validé</span>
                        {% elif e.statut == "refuse" %}
                            <span style="color: red;">Refusé</span>
                        {% else %}
                            <span style="color: orange;">En attente</span>
                        {% endif %}
                    </td>

                                <td>
                                    {% if e.etat == 'En attente' %}
                                        <a href="{% url 'valider_emprunt' item.pk 'accepter' %}" class="action-link" style="color: var(--color-2);">Accepté</a>
                                        <a href="{% url 'valider_emprunt' item.pk 'refuser' %}" class="action-link" style="color: var(--color-7);">Refusé</a>
                                    {% else %}
                                        <span style="color: var(--color-5);">Traitement</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="4" style="text-align: center;">Aucune requete disponible..</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </main>
            </section>
        </main>
    </div>

    <script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

        document.querySelectorAll('.toggle-input').forEach(toggleBtn => {
            toggleBtn.addEventListener('change', () => {
                const userId = toggleBtn.getAttribute('data-id');
                const is_active = toggleBtn.checked;

                fetch(`/toggle-status/${userId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken, 
                        'Content-Type': 'application/json'
                     },
                body: JSON.stringify({'is_active': is_active})
                }).then(reponse => {
                    if (!reponse.ok) {
                        toggleBtn.checked = !is_active;
                        alert('Erreur lors de la mise à jour');
                    } else {
                        const actif_manager_element = document.getElementById('actif-manager');    
                        const inactif_manager_element = document.getElementById('inactif-manager');  
                        let actif = parseInt(actif_manager_element.innerText);
                        let inactif = parseInt(inactif_manager_element.innerText);

                        if (is_active) {
                            actif_manager_element.innerText = actif + 1;
                            inactif_manager_element.innerText = inactif - 1;
                        } else {
                            actif_manager_element.innerText = actif - 1;
                            inactif_manager_element.innerText = inactif + 1;
                        }
                    }
                });
            });
        });
        const btnPlanning = document.getElementById('btn-planning');
        const planningSection = document.getElementById('loan-planning-section');

        btnPlanning.addEventListener('click', () => {
            if (planningSection.style.display === 'none') {
                planningSection.style.display = 'block';
                btnPlanning.innerText = 'Hide Loan Planning';
                btnPlanning.style.backgroundColor = '#6c757d';
            } else {
                planningSection.style.display = 'none';
                btnPlanning.innerText = 'View Loan Planning';
                btnPlanning.style.backgroundColor = '#28a745';
            }
        });
    </script>
</body>
</html>
