/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* variables */
:root{
    /* color */
    --color-1: #010101;
    --color-2: #56A361;
    --color-3: #FFFFFF;
    --color-4: #B3DEB7;
    --color-5: #A5A5A5;
    --color-6: #F7BBBA;
    --color-7: #601C1D;
    --color-8: #466C45;
    --color-9: #DFEDD9;
    --color-10: #F1F1F1;

    /* fonts */
    --ff: 'Plus Jakarta sans', sans-serif;
    --ff-2: 'Manrope', sans-serif;
    --h1: bold 3rem/3.375rem var(--ff);
    --h1-mobile: bold 2.5rem/2.5rem var(--ff);
    --h2: bold 2.25rem/3.125rem var(--ff);
    --h3: bold 2rem/3.125rem var(--ff);
    --h6: bold .875rem/1.125rem var(--ff-2);
    --p: 1rem/1.7rem var(--ff-2);
}

.messages-container{
    background-color: #c0ffc9c7;
    color: #409c3d;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    border-radius: .7rem;
}

.alert{
    padding: .7rem ;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.5;
}

body{
    background-color: var(--color-3);
    color: var(--color-1);
    font: var(--p);
}

p{
    letter-spacing: 3%;
}

.container{
    max-width: 1074px;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.hero-img{
    width: 100%;
    height: 350px;
    background: url('../assets/img/desktop/gestionnaire-fill.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 10px;
}

.hero-title{
    font: var(--h1-mobile);
    text-align: center;
}

.hero-description{
    font: var(--p);
    text-align: center;
}

.login-form{
    padding-block: 50px 10px;
}

.form-Field,.cta{
    width: 100%;
    height: 3.450rem;
    border-radius: 100px;
}

.form-Field{
    padding-left: 1.5rem ;
    background-color: var(--color-10);
    border: 3px solid var(--color-5);
    margin-block: 5px;
}

.form-field_row{
    display: flex;
}

.form-field_row input{
    width: 50%;
}

.cta{
    background-color: var(--color-1);
    color: var(--color-3);
    margin-top: 45px;
    box-shadow: 4px 5px 5px 0px var(--color-5);
}

.cta:hover{
    box-shadow: 1px 3px 3px 0px var(--color-5);
}

.log-section{
    width: 100%;
    text-align: center;

    a{
        color: var(--color-2);
    }
}

.error_message, .no_error_message{
    text-align: center;
    width: 100%;
    border-radius: .6rem;
    padding: .5rem 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

div.error_message{
    /* background-color: var(--color-6); */
    color: var(--color-7);
}

div.no_error_message{
    background-color: transparent;
}
@media (min-width: 900px){


    body{
        background: url('../assets/img/desktop/Ellipse7.png') no-repeat top left 318px,
                    url('../assets/img/desktop/Ellipse8.png') no-repeat left  top 330px,
                    url('../assets/img/desktop/Ellipse9.png') no-repeat bottom left 320px;
    }

    .container{
        display: flex;
        align-items: center;
        gap: 85px;
        height: 100vh;
    }

    .hero-img{
        order: 2;
        width: 100%;
        height: 658px;
        background: url('../assets/img/desktop/gestionnaire-fill.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 0;
    }

    .hero{
        order: 1;
        height: auto;
        width: 880px;
    }

    .hero-title{
        font: var(--h1);
    }

    .hero-description{
        font: var(--p);
    }

    .cta{
        margin-block: 1rem .625rem;
    }
}