/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* variables */
:root{
    /* color */
    --color-1: #010101;
    --color-2: #56A361;
    --color-3: #FFFFFF;
    --color-4: #B3DEB7;
    --color-5: #A5A5A5;
    --color-6: #F7BBBA;
    --color-7: #601C1D;
    --color-8: #466C45;
    --color-9: #DFEDD9;
    --color-10: #F1F1F1;

    /* fonts */
    --ff: 'Plus Jakarta sans', sans-serif;
    --ff-2: 'Manrope', sans-serif;
    --h1: bold 3rem/3.375rem var(--ff);
    --h1-mobile: bold 2.5rem/2.5rem var(--ff);
    --h2: bold 2.25rem/3.125rem var(--ff);
    --h3: bold 2rem/3.125rem var(--ff);
    --h6: bold .875rem/1.125rem var(--ff-2);
    --p: 1rem/1.7rem var(--ff-2);
}

body{
    background-color: var(--color-3);
    color: var(--color-1);
    font: var(--p);
}

p{
    letter-spacing: 3%;
}

.container{
    max-width: 1074px;
    margin-inline: auto;
    padding-inline: 1.25rem;
}

.hero-img{
    width: 100%;
    height: 350px;
    background: url('../assets/img/mobile/login-img-mobile.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 60px;
}


.hero-title{
    font: var(--h1-mobile);
    text-align: center;
    margin-block: 15px 0;
}

.hero-description{
    font: var(--p);
    text-align: center;
}

.login-form{
    padding-block: 50px 10px;
}

.form-Field,.cta{
    width: 100%;
    height: 3.450rem;
    border-radius: 100px;
}

.form-Field{
    padding-left: 1.5rem ;
    background-color: var(--color-10);
    border: 3px solid var(--color-5);
    margin-block: 5px;
}

.cta{
    background-color: var(--color-1);
    color: var(--color-3);
    margin-top: 45px;
    box-shadow: 4px 5px 5px 0px var(--color-5);
}

.cta:hover{
    box-shadow: 1px 3px 3px 0px var(--color-5);
}

.log-section{
    width: 100%;
    text-align: center;

    a{
        color: var(--color-2);
    }
}

@media (min-width: 900px){

    body{
        background: url('../assets/img/desktop/Ellipse4.png') no-repeat top center,
                    url('../assets/img/desktop/Ellipse5.png') no-repeat bottom  left 500px,
                    url('../assets/img/desktop/Ellipse6.png') no-repeat left center;
    }

    .container{
        display: flex;
        align-items: center;
        gap: 85px;
        height: 100vh;
    }

    .hero-img{
        order: 2;
        width: 100%;
        height: 658px;
        background: url('../assets/img/desktop/login-img-desktop.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 0;
    }

    .hero{
        order: 1;
        height: 333px;
        width: 880px;
    }

    .hero-title{
        font: var(--h1);
    }

    .hero-description{
        font: var(--p);
    }

    .cta{
        margin-block: 2rem .625rem;
    }
}